/*@import*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

/* Nav-Bar */

.navbar-brand {
    font-family: "Julius Sans One"
}

.JJ-logo {
    height: 200px;
    width: 200px;
}

-------------------------------------------------------------/* Home Page */-----------------------------------------------------------------------
/* Title */

#title{
    background-color:;
}

#home-section{
    min-height: 80vh;
}

/* Text */

.signature {
    font-family: 'Homemade Apple', cursive;
}

.font-style {
    font-family: "Julius Sans One-light"
}

.responsive-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;}

----------------------------------------------------------------/* UFC Page */----------------------------------------------------------------------

/* Video Section */

.responsive-iframe {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
}

/* Image slideshow */

/* body {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background: red;
} */

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width:20%;
    transition:2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* Manual Navigation Styling */

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-top: 40px;
}

.manual-btn:hover {
    background: orange;
}

#radio1: checked ~ .first{
    margin-left:0;
}

#radio2: checked ~ .first{
    margin-left:-20%;
}

#radio3: checked ~ .first{
    margin-left:-40%;
}

#radio4: checked ~ .first{
    margin-left:-60%;
}


/* UFC Record Table */
table {
    width: 600px;
}

table, th, td {
border: 1px solid black;
}

tr:nth-child(even){
    background-color:  #d9d9d9;
}


----------------------------------------------------------------------/*Shop */-------------------------------------------------------------------------


---------------------------------------------------------------------/*Contact */------------------------------------------------------------------------------------------------------

.input-group-text {
    word-spacing: 5px;
}

/* Footer */

footer {
    height: 80px;
}

footer h2 {
    color: #black;
    margin: 5px 10px;
}

footer i {
    margin: 5px 10px;
    font-size: 150%;
}

footer li {
    list-style: none;
}