/*@import*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

/* Nav-Bar */

.logo {
    height: 200px;
    width: 200px;
    padding: 0 0 1rem;
}

.navbar {
    padding: 0 0 0.2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Ubantu', sans-serif;
    font-weight: 500;
}

-------------------------------------------------------------/* Home Page */-----------------------------------------------------------------------
/* Title */

#home-section{
    min-height: 80vh;
}

/* Text */

.signature {
    font-family: 'Homemade Apple', cursive;
}

.font-style {
    font-family: "Julius Sans One-light"
}

.responsive-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;}

----------------------------------------------------------------/* UFC Page */----------------------------------------------------------------------

/* Video Section */

.responsive-iframe {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
}

/* Image slideshow */




/* UFC Record Table */
table {
    width: 600px;
}

table, th, td {
border: 1px solid black;
}

tr:nth-child(even){
    background-color:  #d9d9d9;
}


----------------------------------------------------------------------/*Shop */-------------------------------------------------------------------------


---------------------------------------------------------------------/*Contact */------------------------------------------------------------------------------------------------------

.input-group-text {
    word-spacing: 5px;
}

/* Footer */

footer {
    clear: both;
height: 300px;
width: auto;
text-align: center;
margin: 0px 0px 0px 0px;
background-color: white;
}

footer h2 {
    color: #black;
}

footer i {
    margin: 5px 10px;
    font-size: 150%;
}

footer li {
    list-style: none;
}