/*@import*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    overflow-x: hidden;
}

/* Nav-Bar */

.logo {
    height: 250px;
    width: 250px;
    padding: 0 0 1rem;
}

.navbar {
    padding: 0 0 0.2rem;
    background-color: black;
    color: white;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Ubantu', sans-serif;
    font-weight: 500;
}

#navbarNav .nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-style: thin;
    color:#e69900;
}

/* ---------- Home Page ----------- */

/* Title */

.main-image img{
    height: 450px;
    width: 350px;
    object-fit: cover;
}

#home-section{
    min-height: 80vh;
}

/* Video */

.responsive-iframe{
    position: relative;
    width: 100%;
    height: 400px;
    frameborder:no;
}

/* Text */

h3 {
   font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: bold;
    }

.About-Font {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-style: thin;
}

.signature {
    font-family: 'Homemade Apple', cursive;
}

/* UFC Record Table */
/* ufc-record background style code done with help from John Traas */ 

#ufc-record{
    width: 90vw;
    background: rgba(0, 0, 0, .6);
}

.ufc-record-header{
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
}

.ufc-record-table{
    height: 800px;
    width: 100%;
    background: url("../img/JJ-Photoshoot.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
}

tbody tr{
    padding: 10px;
    background: rgba(0, 0, 0, .6);
}

table {
    width: 800px;
    color: #fafafa;
}

table, th, td {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .4);
}

.fight-record-heading {
    color: #fafafa;
    width: 100%;
    text-align: center;
}

.tr:nth-child(even){
    background-color:  rgba(32, 29, 29, 0.2);
}


-------------------------------------/*Shop */---------------------------------------


.shopping-cart .row i {
    cursor: pointer;
}

.img-shop img {
width: 200px;
height: 80%;
}

.img-hs {
    font-family: 'Bowlby One SC', cursive;
}

.img-hs img { 
    width: fit-content;
    height: fit-content;
}
----------------------------------Contact---------------------------------------- */

.input-group-text {
    word-spacing: 5px;
}

.form {
    width: 50%;
    padding:20px;
    margin: auto;
}

------------------------------------/* Footer */------------------------------

.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
}

.footer-container {
    display: grid;
    grid: 180px 80px / repeat(3, 1fr);
    grid-template-areas:
    "newsletter social contact"
    "copyright copyright copyright"
    ;
}

.newsletter {
    display: grid;
    grid-area: newsletter;
}

.subscribe-field {
    display: grid;
    justify-self: center;
}

#tick-box {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
    cursor: pointer;
}

.social {
    display: grid;
    grid-area: social;
    text-align: center;
}

.contact {
    display: grid;
    grid-area: contact;
}

.newsletter h4, .social h4, .contact h4 {
    text-align: center;
}

.social-list, .contact-list {
    list-style-type: none;
    text-align: center;
}

.contact-list li {
    font-size: 120%;
    flex-direction: row;
}

.copyright {
    display: flex;
    grid-area: copyright;
    align-items: center;
    place-content: center center;
    background-color: black;
    text-align: center;
    flex-direction: row;
    color: #fafafa;
    padding-top: 15px;
}

.copyright i {
    font-size: 120%;
    margin: 25px;
    color: white;
    list-style: none;
}

.social ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
